body{
    text-align: center;
    background : gray;
}

img{
    width : 250px;
    size : 250px;
}

div{
    background : white;
    border : 3px solid black;
    margin : 30px;
    border-radius : 25px;
    padding : 10px;
    box-shadow : 12px 12px 7px #A084CA;
}

.icone{
    height : 50px;
    width : 50px;
}

.icones{
    display : flex;
    justify-content : center;
    gap : 30px;
    background : none;
    border : 0px;
    box-shadow : 0px 0px 0px;
    align-items : flex-end;
    flex-direction : raw;
}